<div class="flex w-full justify-center items-center min-h-[300px]">
    <div class="md:px-[80px] max-w-[1366px] flex flex-row">
        <div class="relative flex items-center justify-center px-[20px]">
            <div class="absolute h-[2px] w-full flex flex-row" style="z-index: 10;">
                <div class="flex-1 flex justify-start">
                    <button id="home_subcompany__slide-left"
                        class="w-[42px] h-[42px] bg-red-800 flex justify-center items-center text-white font-[24px] rounded-[10px]">
                        &laquo
                    </button>
                </div>
                <div class="flex-1 flex justify-end">
                    <button id="home_subcompany__slide-right"
                        class="w-[42px] h-[42px] bg-red-800 flex justify-center items-center text-white font-[24px] rounded-[10px]">
                        &raquo
                    </button>
                </div>
            </div>
            <div id="home_subcompany" style="z-index: 5;"
                class="absolute flex-1 py-[30px] whitespace-nowrap min-h-[300px] overflow-x-scroll relative">
                {% for item in promo %}
                <div class="inline-block p-[10px] bg-white">
                    <!--Card 1-->
                    <div class="max-w-xs rounded overflow-hidden">
                        <img class="w-full h-[200px]" src="{{ file_url(item) }}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>