.application-status-filter,
.bricc-card-item-filter,
.bricc-province-filter,
.bricc-city-filter,
.bricc-category-filter {
  margin-bottom: var(--gin-spacing-l);
}

.filter-submit {
  padding-top: 25px;
}

.bricc-card-item-form .field-group-html-element h4 {
  font-weight: 600;
  font-size: 20px;
}

/*
Applicant
*/
input.form-date,
.form-item--filtering-type {
  width: 100%;
}

.form-item--startdate,
.form-item--enddate,
.form-item--jeniskartu,
.form-item--name,
.form-item--phone,
.form-item--tgllahir {
  width: calc(33% - 8px);
}
