.application-status-filter,
.bricc-card-item-filter,
.bricc-province-filter,
.bricc-city-filter,
.bricc-category-filter {
  margin-bottom: var(--gin-spacing-l);
}

.filter-submit {
  padding-top: 25px;
}

.bricc-card-item-form .field-group-html-element h4 {
  font-weight: 600;
  font-size: 20px;
}

/*
Applicant
*/
.views-exposed-form input.form-text,
.views-exposed-form input.form-date,
[data-drupal-selector="edit-jeniskartu"],
.form-item--filtering-type {
  width: 100%;
}

.form-item--startdate,
.form-item--enddate,
.form-item--jeniskartu,
.form-item--name,
.form-item--phone,
.form-item--tgllahir {
  width: calc(33% - 8px);
}

input:read-only {
  /*background-color: var(--gin-color-disabled-bg);*/
}

.applicant-detail--wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.applicant-detail--item {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.applicant-detail--item.applicant-detail--item-alamat {
  width: 100%;
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-bricc-admin-menu-link:before {
  mask-image: url('../img/bri-icon.png');
  -webkit-mask-image: url('../img/bri-icon.png');
}


