<div class="min-h-[40px] w-full flex justify-center items-center">
    <div class="max-w-[800px] flex flex-row bg-white shadow-md p-4 px-[25px] rounded-[30px] mt-[-72px]">
        <div class="flex flex-1 max-w-[120px] justify-center items-center">
            <span class="text-red-800 text-[18px] font-bold">SAYA INGIN:</span>
        </div>
        <div class="flex flex-1 justify-center items-center px-[20px]">
            <div class="border-b-2 border-gray-400 w-full h-[32px] flex items-center">
                Membuka Tabungan
            </div>
        </div>
        <div class="flex-1 flex max-w-[120px] min-h-[48px] justify-center items-center">
            <button class="flex-1 rounded-[50px] h-full max-h-[32px] bg-orange-400 text-white justify-center items-center">
                hello
            </button>
        </div>
    </div>
</div>